:root {
    --accent-color: #8D4FDB;
    --footeer-text-color: #8B8B8B;
    --subtitles-color: #A9AFB3;
    --main-color: #000000;
    --white-color: #FFFFFF;
    --body-background
}

body {
    font-family: Montserrat;
    font-weight: 400;
    font-style: normal;
}

.nav-link {
    color: var(--white-color);
    text-decoration: none;
    text-transform: uppercase;
}

.author,
.article-title {
    color: var(--white-color)
}

.article-title {
    font-size: 28px;
    line-height: 35px;
}

.featured {
    font-family: Lato;
}

.featured-subtitle {
    font-size: 23px;
    color: var(--subtitles-color);
}

.article-decription {
    color: var(--main-color);
    font-family: Lato;
    font-size: 18px;
    line-height: 25px;
}

.article-link {
    color: var(--accent-color);
    Font-Family: Lato;
    font-size: 17px;
    line-height: 30px;
    text-decoration: none;
}

.read-more {
    background-color: var (--section-background)
}

.read-more-title {
    text-align: center;
    font-size: 30px;
    Line-height: 36px;
}

.read-more-button {}